In [145]:
import pandas as pd
from sodapy import Socrata

app_token = "6mndJ6dQB2dsu0CXE1RFz9AGA"

In [146]:
##EXTRACT
url="https://data.cityofnewyork.us/resource/qiz3-axqb.json"

In [147]:
df=pd.read_json(url)

In [148]:
#shows first 5 rows of the dataset
df.head()

,:@computed_region_92fq_4b7q,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_sbqj_enih,:@computed_region_yeji_bk3q,borough,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,...,off_street_name,on_street_name,time,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,zip_code
0,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN,NaN,NaN,...,NaN,BELT PARKWAY RAMP,17:20,4102637,Sedan,NaN,NaN,NaN,NaN,NaN
1,10.0,12077.0,57.0,3.0,4.0,MANHATTAN,Passing or Lane Usage Improper,Driver Inattention/Distraction,NaN,NaN,...,NaN,NaN,16:30,4102962,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,10014.0
2,6.0,15312.0,41.0,61.0,3.0,QUEENS,Unspecified,Unspecified,NaN,NaN,...,HOLLIS AVENUE,FRANCIS LEWIS BOULEVARD,9:30,4102067,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,11429.0
3,3.0,13832.0,22.0,67.0,3.0,QUEENS,Passing Too Closely,Passing or Lane Usage Improper,NaN,NaN,...,LINDEN PLACE,35 AVENUE,10:20,4102026,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,11354.0
4,3.0,13832.0,22.0,67.0,3.0,QUEENS,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,...,NORTHERN BOULEVARD,LINDEN PLACE,23:45,4102469,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,11354.0

In [149]:
#provides list of columns in dataset
df.columns

Index([':@computed_region_92fq_4b7q', ':@computed_region_efsh_h5xi',
       ':@computed_region_f5dn_yrer', ':@computed_region_sbqj_enih',
       ':@computed_region_yeji_bk3q', 'borough',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
       'contributing_factor_vehicle_5', 'cross_street_name', 'date',
       'latitude', 'location', 'longitude', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_persons_injured',
       'number_of_persons_killed', 'off_street_name', 'on_street_name', 'time',
       'unique_key', 'vehicle_type_code1', 'vehicle_type_code2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5',
       'zip_code'],
      dtype='object')

In [150]:
##TRANSFORM

#concatenates date and time into one column
df['datetime']=pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str), errors='coerce')

In [151]:
#removes whitespace from dataframe
df=df.apply(lambda x: x.str.strip() if x.dtype =='object' else x)
df.head()

,:@computed_region_92fq_4b7q,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_sbqj_enih,:@computed_region_yeji_bk3q,borough,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,...,on_street_name,time,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,zip_code,datetime
0,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN,NaN,NaN,...,BELT PARKWAY RAMP,17:20,4102637,Sedan,NaN,NaN,NaN,NaN,NaN,2019-03-24 17:20:00
1,10.0,12077.0,57.0,3.0,4.0,MANHATTAN,Passing or Lane Usage Improper,Driver Inattention/Distraction,NaN,NaN,...,NaN,16:30,4102962,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,10014.0,2019-03-24 16:30:00
2,6.0,15312.0,41.0,61.0,3.0,QUEENS,Unspecified,Unspecified,NaN,NaN,...,FRANCIS LEWIS BOULEVARD,9:30,4102067,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,11429.0,2019-03-24 09:30:00
3,3.0,13832.0,22.0,67.0,3.0,QUEENS,Passing Too Closely,Passing or Lane Usage Improper,NaN,NaN,...,35 AVENUE,10:20,4102026,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,11354.0,2019-03-24 10:20:00
4,3.0,13832.0,22.0,67.0,3.0,QUEENS,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,...,LINDEN PLACE,23:45,4102469,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,11354.0,2019-03-24 23:45:00

In [152]:
#prints first val of street name col
df['on_street_name'][0]

'BELT PARKWAY RAMP'

In [153]:
#subsets columns of interest
columns_i_want = ['unique_key', 'latitude', 'longitude', 'on_street_name', 'cross_street_name',
                 'number_of_persons_injured','contributing_factor_vehicle_1','vehicle_type_code1', 'vehicle_type_code2','datetime']

In [154]:
#creates new dataframe from subsetted columns
df=df[columns_i_want]
df.head()

,unique_key,latitude,longitude,on_street_name,cross_street_name,number_of_persons_injured,contributing_factor_vehicle_1,vehicle_type_code1,vehicle_type_code2,datetime
0,4102637,NaN,NaN,BELT PARKWAY RAMP,NaN,0,Driver Inattention/Distraction,Sedan,NaN,2019-03-24 17:20:00
1,4102962,40.730995,-74.001465,NaN,321 AVENUE OF THE AMERICAS,0,Passing or Lane Usage Improper,Sedan,Station Wagon/Sport Utility Vehicle,2019-03-24 16:30:00
2,4102067,40.707306,-73.751220,FRANCIS LEWIS BOULEVARD,NaN,0,Unspecified,Station Wagon/Sport Utility Vehicle,Sedan,2019-03-24 09:30:00
3,4102026,40.764710,-73.830696,35 AVENUE,NaN,0,Passing Too Closely,Station Wagon/Sport Utility Vehicle,Sedan,2019-03-24 10:20:00
4,4102469,40.763424,-73.830160,LINDEN PLACE,NaN,1,Failure to Yield Right-of-Way,Pick-up Truck,Station Wagon/Sport Utility Vehicle,2019-03-24 23:45:00

In [155]:
#reduces vehicle types to unique values
df['vehicle_type_code1'].unique()

array(['Sedan', 'Station Wagon/Sport Utility Vehicle', 'Pick-up Truck',
       'Taxi', 'Bike', 'Motorcycle', 'Tractor Truck Diesel', nan, 'Bus',
       'Motorbike', 'Multi-Wheeled Vehicle', 'Convertible', 'fdny',
       'Tow Truck / Wrecker', 'Ambulance', 'Dump', 'Motorscooter',
       'MOPED', 'Flat Bed', 'FIRE', 'Box Truck', 'Van'], dtype=object)

In [156]:
#reduces vehicle types to unique values
df['vehicle_type_code2'].unique()

array([nan, 'Station Wagon/Sport Utility Vehicle', 'Sedan', 'Taxi',
       'Pick-up Truck', 'Box Truck', 'Bike', 'SELF', 'Van', 'Motorcycle',
       'DIRTB', 'Bus', 'Moped', 'Convertible', 'PK', 'Unk',
       'Tractor Truck Diesel', 'Garbage or Refuse'], dtype=object)

In [157]:
#removes duplicates from 'on_street_name' and 'cross_street'
street_names=set(list(df['on_street_name'].unique())+list(df['cross_street_name'].unique()))

In [158]:
#removes duplicate values from contributing factor
contributing_factor=list(df['contributing_factor_vehicle_1'].unique())

In [159]:
#removes duplicate values between vehicle type1 and 2
vehicle_types=set(list(df['vehicle_type_code1'].unique())+list(df['vehicle_type_code2'].unique()))

In [160]:
#creates function to create dictionary out of col values
def create_table_dict(table):
    table_ids=list(range(1,len(table)+1))
    table_types=list(table)
    table_dictionary=dict(zip(table_ids, table_types))
    return table_dictionary

new_vehicle_dict=create_table_dict(vehicle_types)
new_street_names_dict=create_table_dict(street_names)
new_contributing_factor_dict=create_table_dict(contributing_factor)

In [161]:
#creates dataframe from dictionary
vehicle_df=pd.DataFrame.from_dict(new_vehicle_dict, orient="index").reset_index()
#vehicle_df.columns=['vehicle_id','vehicle_type']

In [162]:
#creates dataframe from dictionary
street_df=pd.DataFrame.from_dict(new_street_names_dict, orient="index").reset_index()
#street_df.columns=['street_id','street_name']

In [163]:
#creates dataframe from dictionary
contributing_factor_df=pd.DataFrame.from_dict(new_contributing_factor_dict, orient="index").reset_index()
#contributing_factor_df.columns=['contributing_factor_id','contributing_factor']

In [164]:
vehicle_map = {y:x for x,y in new_vehicle_dict.items()}
df["vehicle_type_code1"].replace(vehicle_map, inplace=True)
df["vehicle_type_code2"].replace(vehicle_map, inplace=True)

In [165]:
street_replace = {y:x for x,y in new_street_names_dict.items()}
df["on_street_name"].replace(street_replace, inplace=True)
df["cross_street_name"].replace(street_replace, inplace=True)

In [166]:
factor_replace = {y:x for x,y in new_contributing_factor_dict.items()}
df["contributing_factor_vehicle_1"].replace(factor_replace, inplace=True)

In [167]:
#rename variables
collision_df=df.rename(columns={
     "on_street_name" :"on_street_name_id",
     "cross_street_name": "cross_street_name_id",
     "contributing_factor_vehicle_1": "contributing_factor_vehicle_1_id",
     "vehicle_type_code1": "vehicle_type_code1_id",
     "vehicle_type_code2": "vehicle_type_code2_id",
    })

In [170]:
##LOAD

import sqlalchemy
from sqlalchemy import *

#creates SQL engine and loads data into database
engine = create_engine('sqlite:///data_engineering_workshop.db')

# Load to database (replace table if it exists)
vehicle_df.to_sql(name = 'vehicles', con = engine, if_exists = 'replace',index = False)
street_df.to_sql(name = 'streets', con = engine, if_exists = 'replace',index = False)
contributing_factor_df.to_sql(name = 'factors', con = engine, if_exists = 'replace',index = False)
collision_df.to_sql(name='collisions', con=engine, if_exists='append',index=False)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-170-5675bc81c498>", line 7, in <module>
    engine = create_engine('sqlite:///data_engineering_workshop.db')
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/__init__.py", line 425, in create_engine
    return strategy.create(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/strategies.py", line 92, in create
    (cargs, cparams) = dialect.create_connect_args(u)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/dialects/sqlite/pysqlite.py", line 362, in create_connect_args
    filename = os.path.abspath(filename)
  File "/anaconda3/lib/python3.7/posixpath.py", line 376, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'FileNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/anaconda3/lib/python3.7/inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/anaconda3/lib/python3.7/inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/anaconda3/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/anaconda3/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/anaconda3/lib/python3.7/posixpath.py", line 376, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

FileNotFoundError: [Errno 2] No such file or directory

In [169]:
#begin querying the dataset
connection=engine.connect()

#SELECTS street id, name and number of persons injured orders greatest to least
#JOIN collisions table to the streets table to link the ID's
query="SELECT on_street_name_id, streets.street_name,\
number_of_persons_injured FROM collisions LEFT JOIN streets\
ON collisions.on_street_name_id = streets.street_id\
ORDER BY number_of_persons_injured DESC"

results=connection.execute(query).fetchall()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1193, in _execute_context
    context)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 509, in do_execute
    cursor.execute(statement, parameters)
sqlite3.OperationalError: near ".": syntax error

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-169-99d882cc642d>", line 11, in <module>
    results=connection.execute(query).fetchall()
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 942, in execute
    return self._execute_text(object, multiparams, params)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1104, in _execute_text
    statement, parameters
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1200, in _execute_context
    context)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1413, in _handle_dbapi_exception
    exc_info
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 265, in raise_from_cause
    reraise(type(exception), exception, tb=exc_tb, cause=cause)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 248, in reraise
    raise value.with_traceback(tb)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1193, in _execute_context
    context)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 509, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) near ".": syntax error [SQL: 'SELECT on_street_name_id, streets.street_name,number_of_persons_injured FROM collisions LEFT JOIN streetsON collisions.on_street_name_id = streets.street_idORDER BY number_of_persons_injured DESC'] (Background on this error at: http://sqlalche.me/e/e3q8)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OperationalError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/anaconda3/lib/python3.7/inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/anaconda3/lib/python3.7/inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/anaconda3/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/anaconda3/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/anaconda3/lib/python3.7/posixpath.py", line 376, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1193, in _execute_context
    context)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 509, in do_execute
    cursor.execute(statement, parameters)
sqlite3.OperationalError: near ".": syntax error

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-169-99d882cc642d>", line 11, in <module>
    results=connection.execute(query).fetchall()
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 942, in execute
    return self._execute_text(object, multiparams, params)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1104, in _execute_text
    statement, parameters
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1200, in _execute_context
    context)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1413, in _handle_dbapi_exception
    exc_info
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 265, in raise_from_cause
    reraise(type(exception), exception, tb=exc_tb, cause=cause)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 248, in reraise
    raise value.with_traceback(tb)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1193, in _execute_context
    context)
  File "/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 509, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) near ".": syntax error [SQL: 'SELECT on_street_name_id, streets.street_name,number_of_persons_injured FROM collisions LEFT JOIN streetsON collisions.on_street_name_id = streets.street_idORDER BY number_of_persons_injured DESC'] (Background on this error at: http://sqlalche.me/e/e3q8)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OperationalError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3185, in run_ast_nodes
    if (yield from self.run_code(code, result)):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3284, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2021, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1379, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1282, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1144, in structured_traceback
    formatted_exceptions += self.prepare_chained_exception_message(evalue.__cause__)
TypeError: can only concatenate str (not "list") to str

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/anaconda3/lib/python3.7/inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/anaconda3/lib/python3.7/inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/anaconda3/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/anaconda3/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/anaconda3/lib/python3.7/posixpath.py", line 376, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

TypeError: can only concatenate str (not "list") to str